{
    "extends": [
        "prettier"
    ],
    "plugins": [
        "prettier"
    ],
    "rules": {
        "prettier/prettier": [
            "error"
        ]
    },
    "env": {
        "node": true,
        "jest": true
    },
    "parserOptions": {
        "ecmaVersion": 2020
    }
}